@model IEnumerable<BusinessLogicLayer.FigureBLL>

@{
    ViewBag.Title = "Figures";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole(Constants.Dev) | User.IsInRole(Constants.Ad) | User.IsInRole(Constants.Hist))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<p>
    @Html.ActionLink("Show Statistics", "Statistics")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.FigureID)           not displaying IDs in this view
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FigureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FigureDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FigureDOD)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CivID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CivName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.FigureID)
        @*</td>                                                      hides and removes column in the list of figures
        <td>*@
            @Html.DisplayFor(modelItem => item.FigureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FigureDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FigureDOD)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.CivID)
        @*</td>
        <td>*@
            @Html.DisplayFor(modelItem => item.CivName)
        </td>
        <td>
            @if (User.IsInRole(Constants.Dev) | (User.IsInRole(Constants.Ad)) | (User.IsInRole(Constants.Hist)))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.FigureID })
            }
            @Html.Raw("|")
            @Html.ActionLink("Details", "Details", new { id = item.FigureID })
            @Html.Raw("|")
            @if (User.IsInRole(Constants.Dev) | (User.IsInRole(Constants.Ad)))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.FigureID })
            }
        </td>
    </tr>
}

</table>
