@model IEnumerable<BusinessLogicLayer.FigureStats>

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CivID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CivName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinAge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.CivID)
        @*</td>
        <td>*@
            @Html.DisplayFor(modelItem => item.CivName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinAge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
