@model BusinessLogicLayer.EventBLL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (User.IsInRole(Constants.Dev))
        {
            <dt>
                @Html.DisplayNameFor(model => model.EventID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventID)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        @if (User.IsInRole(Constants.Dev))
        {
        <dt>
           @Html.DisplayNameFor(model => model.FigureID)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.FigureID)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.FigureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FigureName)
        </dd>
        @if (User.IsInRole(Constants.Dev))
        {
        <dt>
            @Html.DisplayNameFor(model => model.CivID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivID)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.CivName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivName)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(Constants.Dev) | (User.IsInRole(Constants.Ad)) | (User.IsInRole(Constants.Hist)))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID })
    }
    @Html.Raw("|")
    @Html.ActionLink("Back to List", "Index")
</p>
