@model BusinessLogicLayer.EventBLL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FigureID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FigureID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FigureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FigureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
