@model BusinessLogicLayer.CivilizationBLL

@{
    ViewBag.Title = "Delete";
    List<BusinessLogicLayer.FigureBLL> items = ViewBag.items as List<BusinessLogicLayer.FigureBLL>;
    List<BusinessLogicLayer.EventBLL> events = ViewBag.events as List<BusinessLogicLayer.EventBLL>;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this? </h3>
<div>
    <h4>Delete Civilization?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CivID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivEnd)
        </dd>
    </dl>
    <h1>Deleting this will also delete these Figures tied to this Civilization.</h1>
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.FigureID)           not displaying IDs in this view
                </th>*@
            <th>
                FigureName
                @*@Html.DisplayNameFor(model => model.FigureName)*@
            </th>
            <th>
                FigureDOB
                @*@Html.DisplayNameFor(model => model.FigureDOB)*@
            </th>
            <th>
                FigureDOD
                @*@Html.DisplayNameFor(model => model.FigureDOD)*@
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CivID)
                </th>*@
            <th>
                CivName
                @*@Html.DisplayNameFor(model => model.CivName)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in items)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.FigureID)
                    @*</td>                                                      hides and removes column in the list of figures
                        <td>*@
                    @Html.DisplayFor(modelItem => item.FigureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FigureDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FigureDOD)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.CivID)
                    @*</td>
                        <td>*@
                    @Html.DisplayFor(modelItem => item.CivName)
                </td>

            </tr>
        }
    </table>
    <h1>Deleting this will also delete these Events tied to this Civilization.</h1>
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.EventID)
                </th>*@
            <th>
                EventName
                @*@Html.DisplayNameFor(model => model.EventName)*@
            </th>
            <th>
                EventDate
                @*@Html.DisplayNameFor(model => model.EventDate)*@
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FigureID)
                </th>*@
            @*<th>

                    @Html.DisplayNameFor(model => model.FigureName)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.CivID)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.CivName)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in events)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.EventID)
                    @*</td>
                        <td>*@
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                @*<td>
                        @Html.HiddenFor(modelItem => item.FigureID)
                        </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.FigureName)
                    </td>*@
                @*<td>
                        @Html.HiddenFor(modelItem => item.CivID)
                        </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.CivName)
                    </td>*@

            </tr>
        }
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
