@model BusinessLogicLayer.CivilizationBLL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Civilization Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (User.IsInRole(Constants.Developer))
        {
        <dt>
            @Html.DisplayNameFor(model => model.CivID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivID)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.CivName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivEnd)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(Constants.Dev) | (User.IsInRole(Constants.Ad)) | (User.IsInRole(Constants.Hist)))
    {

        @Html.ActionLink("Edit", "Edit", new { id = Model.CivID })
    }
    @Html.Raw("|")
    @Html.ActionLink("Back to List", "Index")
</p>
