@model IEnumerable<BusinessLogicLayer.CivilizationBLL>

@{
    ViewBag.Title = "Index";
}

<h2>Civilizations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Show Statistics", "Statistics")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CivID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CivName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CivStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CivEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.CivID)
        @*</td>
        <td>*@
            @Html.DisplayFor(modelItem => item.CivName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CivStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CivEnd)
        </td>
        <td>
            @if (User.IsInRole(Constants.Dev) | (User.IsInRole(Constants.Ad)) | (User.IsInRole(Constants.Hist)))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.CivID })
            }
            @Html.Raw("|")
            @Html.ActionLink("Details", "Details", new { id = item.CivID }) 
            @Html.Raw("|")
            @if (User.IsInRole(Constants.Dev) | (User.IsInRole(Constants.Ad)))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.CivID })
            }
        </td>
    </tr>
}

</table>
